
@{
    ViewData["Title"] = "Json";
}

<h2>Json Search</h2>
<h2>Tìm kiếm</h2>
<input id="txtSearch" placeholder="Nhập từ khóa" />
<table>
    <thead><tr><th>Tên</th><th>Giá</th></tr></thead>
    <tbody id="results"></tbody>
</table>
<script>
    $(function () {
        $("#txtSearch").keyup(function () {
            $.ajax({
                url: "/Ajax/JsonSearch",
                data: { keyword: $(this).val() },
                success: function (response) {
                    $("#results").html("");
                    $(response).each(function(idx, item) {
                        var tr = $("<tr/>");
                        $("<td/>").html(item.tenHh).appendTo(tr);
                        $("<td/>").html(item.giaBan).appendTo(tr);
                        $("#results").append(tr);
                    });
                }
            });
        });
    });
</script>
